<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Themed Areas</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <header>
        <div class="container">
            <img src="images/logo.webp" alt="Adventure Awaits: Magic Theme Park Logo" class="logo">
            <nav>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/areas">Areas</a></li>
                    <li><a href="/attractions">Attractions</a></li>
                    <li><a href="/faq">FAQ</a></li>
                    <li><a href="/contact">Contact</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <main class="areas-page">
        <section class="section">
            <h1>Explore Our Themed Areas</h1>
            <div class="grid-container">
                <div class="grid-item">
                    <a href="/attractions#fairy-kingdom">
                        <img src="images/fairykingdom.webp" alt="Fairy Kingdom">
                        <h3>Fairy Kingdom</h3>
                        <p>Discover the wonders of the Fairy Kingdom!</p>
                    </a>
                </div>
                <div class="grid-item">
                    <a href="/attractions#viking-land">
                        <img src="images/vikingland.jpg" alt="Viking Land">
                        <h3>Viking Land</h3>
                        <p>Explore the land of Vikings full of adventures!</p>
                    </a>
                </div>
                <div class="grid-item">
                    <a href="/attractions#pirate-town">
                        <img src="images/piratetown.jpg" alt="Pirate Town">
                        <h3>Pirate Town</h3>
                        <p>Embark on an adventure in the pirate town!</p>
                    </a>
                </div>
                <div class="grid-item">
                    <a href="/attractions#sci-fi-universe">
                        <img src="images/sci.jpg" alt="Sci-Fi Universe">
                        <h3>Sci-Fi Universe</h3>
                        <p>Discover the world of science fiction!</p>
                    </a>
                </div>
            </div>
        </section>
    </main>
    

    <footer>
        <p>© 2024 Adventure Awaits: Magic Theme Park. All rights reserved.</p>
    </footer>

    <script src="/js/script.js"></script>
</body>
</html>
